<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Administração</title>
</head>

<body>
    <div class="content-section">
        <form method="POST" action="/admin">
            <h1 allign="center">CADASTRO DE USUARIOS:</h1>
            {{ formulario4.nomeusuario }}
            <br>
            {{ formulario4.senhausuario }}
            <br>
            {{ formulario4.enviarusuario }}
        </form>
    </div>
    <br>
    <br>
    <table border="1">
        {% for ini in range(ini, fim): %}
        <tr>
            <td>#</td>
            <td>Usuário</td>
        </tr>
        <tr>
                <th scope="row">{{ listausuario[ini][0] }}</th>
                <td>{{ listausuario[ini][1] }}</td>
                <td>Delete</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>