<!doctype html>
<html lang="pt">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='estilos/login.css')}}">
    <title>WGPark - Administraçao</title>
    <link rel="icon" type="image/png" href="{{url_for('static', filename='imagens/icone.png')}}">

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="centraliza">
                <img src="{{url_for('static', filename='imagens/LogoSite.png')}}">
            </div>
        </div>

        <div class="row ">
            <div class="centraliza">
                <div class="col-md-12">
                    <fieldset>
                        <legend>Administração</legend>
                        <form class="form-group" method="POST" action="/admin">
                            {{ formulario3.usuario}}
                            <br>
                            {{ formulario3.senha}}
                            <br>
                            {{ formulario3.enviar}}
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
</body>

</html>